@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.katex-display {
  overflow-x: auto hidden;
  max-width: 100%;
  margin: 0.5em 0;
  white-space: normal;
}

.katex {
  white-space: normal !important;
}

.katex-display>.katex {
  white-space: normal
}

.katex-display>.base {
  margin: 0.25em 0
}